<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="https://thumbs.dreamstime.com/b/law-firm-lawyer-law-office-symbol-isolated-dark-background-simple-vector-logo-law-firm-lawyer-law-office-symbol-isolated-195469545.jpg">
  <title>LawyerStack</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>
{% include 'includes/navbar.html' %}

<div class="abouttus">
        <div class="ourMission">
            <h1>Our Mission</h1>
            <p> Lawyerstack is on a mission to make quality legal consultancy affordable and accessible for over a
                billion+
                Indians. We believe in empowering our users with the most accurate, comprehensive, and curated
                information
                about
                legal guidelines, enabling them to make better decisions regarding their legal stability.
            </p>
        </div>
        <div class="preHab">
            <div class="texxt">
                <h1>Precaution is a habit</h1>
                <p>
                    It is the journey that takes you to new destinations every day with endless possibilities of life on
                    the
                    back of
                    happiness, energy, and hope. Lawyerstack wants to make this journey easy for every Indian and help
                    them
                    have
                    a
                    proper legal consultation and representation.
                </p>
            </div>
            <img src="" alt="" class="pre">
        </div>
        <div class="offer">
            <h1>Our offerings</h1>
            <li> <b>Comprehensive legal directory</b> with detailed, verified information about more than a lakh lawyers
                partnered across the country</li>
            <li><b>Online appointment booking</b> at over 30+ leading firms and lawyers who use Lawyerstack prime
            <li><b> Online consultation</b> with trusted lawyers across 10+ specialities</li>
            <li><b>Plus, subscription-based legal consultancy plans</b>, that provide unlimited online consultations*
                with
                lawyers
                24*7*365
            </li>
            <i>*Fair usage policy applicable</i>
        </div>
        <div class="appro">
            <h1>Our approach to healthcare</h1>
            <p>Providing high-quality, trusted, and accessible legal protection is our reason for being
            </p>
            <div class="small">
                <div class="smallbox">
                    <h3>Connect</h3>
                    We understand law goes beyond verdicts, trials, FIRs, and courts. It’s about the deep connection
                    between
                    lawyers
                    and clients that leads to continuous care and sustained, better outcomes.

                </div>
                <div class="smallbox">
                    <h3>Trust</h3>
                    Lawyerstack works on trust. We are aware of the responsibility placed on us by 30000+ clients and
                    over a
                    7000
                    lawyers. We always have and always will do everything we possibly can to uphold this trust.
                </div>
                <div class="smallbox">
                    <h3>Transparency</h3>
                    We believe in full disclosure. We believe in communicating openly and honestly, and holding
                    ourselves to
                    the
                    highest ethical standards.
                </div>
            </div>
        </div>
        <div class="datapriv">
            <h1>Data privacy and security is our top priority</h1>
            <p>Data privacy and security has always served as one of the founding philosophies of Lawyerstack, and we go
                to
                great lengths to safeguard the confidentiality and integrity of our users.
            </p>
        </div>
    </div>

{% include 'includes/footer.html' %}
</body>

</html>
</div>