<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://thumbs.dreamstime.com/b/law-firm-lawyer-law-office-symbol-isolated-dark-background-simple-vector-logo-law-firm-lawyer-law-office-symbol-isolated-195469545.jpg">
  <title>LawyerStack</title>
    {% comment %} <link rel="stylesheet" href="{% static 'FloginPage.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>
    <br><br><br><br><br><br><br><br>
    <div>
        <h1> No Profile </h1>
    </div>
    <br><br><br><br><br><br><br><br>
</body>

</html>