{% load static %}
<footer class="footer">
    <div class="link-section">
      <div class="div-sec">
        <div class="footer__title">LawyerStack</div>
        <div>
          <a href="{% url 'about_us' %}"><span>About</span></a
          ><a class="" href="{% url 'Contact_us' %}"><span>Contact Us</span></a>
        </div>
      </div>

      <div class="div-sec">
        <div class="footer__title">
          <a class="" href=""><span>Profile</span></a>
        </div>
        <div>
          <a class="" href="{% url 'lawyer_homepage' %}"><span>Lawyers</span></a>
        </div>
      </div>

      <div class="div-sec">
        <div class="footer__title">
          <span>More</span>
        </div>
        <div>
          <a class="" href="{% url 'Contact_us' %}"><span>Help</span></a>
          <a class="" href=""><span>Privacy Policy</span></a
          ><a class="" href=""><span>Terms &amp; Conditions</span></a>
        </div>
      </div>
      <div class="div-sec">
        <div class="footer__title">
          <span>Social</span>
        </div>
        <div>
          <a class="" href="https://www.facebook.com/Lawyerstack-106578958724301/?ref=pages_you_manage"><span>Facebook</span></a
          ><a class="" href="https://instagram.com/lawyerstack?igshid=YmMyMTA2M2Y="><span>Instagram</span></a>
        </div>
      </div>
    </div>

    <div class="copyright-section">
      <span class="flogo"
        ><img class="fimg" src="https://thumbs.dreamstime.com/b/law-firm-lawyer-law-office-symbol-isolated-dark-background-simple-vector-logo-law-firm-lawyer-law-office-symbol-isolated-195469545.jpg" alt="Practo"
      /></span>
      <div >
        <span class="cc">Copyright © 2022, LawyerStack All rights reserved.</span>
      </div>
    </div>
  </footer>
      